{% extends "@Berlioz-HttpCore/Twig/Debug/_main.html.twig" %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Used classes ({{ classes|length }})</h1>
    </div>

    <p>
        It's a snapshot of used classes at the moment of request.
    </p>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 mb-3">
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-lg feather-list">
                        <line x1="8" y1="6" x2="21" y2="6"></line>
                        <line x1="8" y1="12" x2="21" y2="12"></line>
                        <line x1="8" y1="18" x2="21" y2="18"></line>
                        <line x1="3" y1="6" x2="3" y2="6"></line>
                        <line x1="3" y1="12" x2="3" y2="12"></line>
                        <line x1="3" y1="18" x2="3" y2="18"></line>
                    </svg>
                    <p class="card-value mb-0">{{ nbClasses.user }}</p>
                    <p class="card-text">User defined classes used</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-lg feather-list">
                        <line x1="8" y1="6" x2="21" y2="6"></line>
                        <line x1="8" y1="12" x2="21" y2="12"></line>
                        <line x1="8" y1="18" x2="21" y2="18"></line>
                        <line x1="3" y1="6" x2="3" y2="6"></line>
                        <line x1="3" y1="12" x2="3" y2="12"></line>
                        <line x1="3" y1="18" x2="3" y2="18"></line>
                    </svg>
                    <p class="card-value mb-0">{{ nbClasses.berlioz }}</p>
                    <p class="card-text">Berlioz Framework classes used</p>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Class name</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            {% for class in classes %}
                <tr>
                    <td>{{ class.name }}</td>
                    {% if class.type == 'berlioz' %}
                        <td>Berlioz Framework</td>
                    {% elseif class.type == 'composer' %}
                        <td>Composer</td>
                    {% else %}
                        <th>User defined</th>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="text-center"><em>No class used</em></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}